* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.start-page {
  height: 500px;
  width: 590px;
  margin: auto;
  position: absolute;
  left: 31%;
  bottom: 40%;
  top: 250px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0px 2px 15px 5px gray;
}
.start-page-content {
  text-align: center;
  margin-top: 15px;
}
.start-page-content > hr {
  margin-top: 5px;
}

.startbtn {
  margin: auto;
  text-align: center;
}
.startbtn > button {
  height: 35px;
  width: 160px;
  background-color: blue;
  font-size: 20px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  border: none;
  position: relative;
  top: 0px;
}

.startbtn > button:hover {
  background-color: rgb(85, 85, 155);
}
.strat-page-point {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-wrap: wrap;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 10px;
}
.strat-page-point > p {
  margin-top: 10px;
}

.strat-page-point > b {
  font-size: 20px;
}

nav {
  background-color: rgb(188, 107, 188);
  height: 35px;
}

nav > h1 {
  color: white;
  text-align: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.Calculator-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  word-break: normal;
  border: 2px solid black;
  height: 480px;
  position: relative;
  position: relative;
  top: 90px;
  margin: auto;
  width: 380px;
  padding-left: 55px;
  padding-right: 55px;
  justify-content: center;
  box-shadow: 0px 4px 15px 5px gray;
}

.Calculator-form > input + label {
  margin-top: 10px;
}
.Calculator-form > input {
  height: 25px;
}
.Calculator-form > input::placeholder {
  position: relative;
  left: 10px;
}
.Annual-income {
  margin-bottom: 10px;
}
.Extra-income {
  margin-bottom: 10px;
}
.Age {
  margin-bottom: 5px;
}
#t-sub {
  margin-bottom: 15px;
}
.Calculator-form > button {
  margin-top: 20px;
  color: white;
  background-color: rgb(175, 71, 190);
  box-shadow: 0px 1px 6px 2px gray;
  cursor: pointer;
  height: 30px;
}
#question {
  cursor: pointer;
}
#Next-page {
  border: 2px solid black;
  background-color: white;
  height: 280px;
  width: 590px;
  position: relative;
  bottom: 290px;
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  display: none;
}

#Next-page > button {
  width: 90px;
  height: 30px;
  margin: auto;
  border: none;
  background-color: blue;
  color: white;
  font-size: 18px;
  position: relative;
  top: 40px;
}

#Next-page {
  display: none;
}

#Next-page > h2 {
  color: green;
  position: relative;
  top: 49px;
}

#Next-page > h1 {
  position: relative;
  top: 49px;
}

#Next-page > p {
  position: relative;
  top: 55px;
}

#Next-page > button {
  position: relative;
  top: 70px;
}

#error1 {
  position: relative;
  left: 360px;
  bottom: 32px;
  display: none;
  width: 15px;
}

#error2 {
  position: relative;
  left: 360px;
  bottom: 32px;
  display: none;
  width: 15px;
}

.tooltip {
  display: none;
  font-size: 12px;
  position: absolute;
  top: 195px;
  left: 55%;
  transform: translateX(-50%);
  background-color: rgb(23, 20, 20);
  color: white;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sug1 {
  display: none;
  font-size: 12px;
  position: absolute;
  top: 255px;
  left: 55%;
  transform: translateX(-50%);
  background-color: rgb(23, 20, 20);
  color: white;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sug2 {
  display: none;
  font-size: 12px;
  position: absolute;
  top: 320px;
  left: 45%;
  background-color: rgb(23, 20, 20);
  color: white;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.sug3 {
  display: none;
  font-size: 12px;
  position: absolute;
  top: 390px;
  left: 52%;
  border: 1px solid #ccc;
  background-color: rgb(23, 20, 20);
  color: white;
  border-radius: 20px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tool1 {
  display: none;
  position: absolute;
  top: 190px;
  left: 68%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tool2 {
  display: none;
  position: absolute;
  top: 268px;
  left: 68%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Responsive design  */
@media screen and (min-width: 320px) and (max-width: 738px) {
  nav{
    width: 100vh;
    margin: auto;
  }


  .Calculator-form{
    width: 250px;
    position: relative;
    left: 55%;
  }

  .start-page{
    width: 500px;
    margin-bottom: -180px;
  }
}

@media screen and (min-width: 425px) and (max-width: 738px) {
  .Calculator-form{
    width: 250px;
    position: relative;
    left: 40%;
  }

}

@media screen and (min-width: 768px) and (max-width: 738px) {
  nav{
    width: 100%;
  }
  
  .Calculator-form{
    width: 250px;
    position: relative;
    left: 55%;
  }

  .start-page{
    height: 100px;
    width: 350px;
    position: absolute;
    left: -90px;
  }
  
}


@media screen and (max-width: 1024px)  {

  .Calculator-form{
    width: 350px;
    position: relative;
    left: 5%;
    top: 70px;
    margin: auto;

  }

  
  .start-page{
   width: 500px;
    margin: auto;
  }

}

